# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# build output
/.next/
/out/

# env files (公開リポジトリなので特に重要)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# editor
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
